[submodule "external/Amicitia.IO"]
	path = external/Amicitia.IO
	url = https://github.com/TGEnigma/Amicitia.IO
[submodule "external/preappfile"]
	path = external/preappfile
	url = https://github.com/TGEnigma/preappfile
